<div class="board-column">
    <div class="column-header">
        <h2>{{ title }}</h2>
        @if (showAddButton) {
        <button class="add-task-btn" aria-label="Add task" (click)="onAddTaskClick()" (mouseenter)="isHovering = true"
            (mouseleave)="isHovering = false">
            <img [src]="addTaskIcon" alt="Add task" class="add-task-icon" />
        </button>
        }
    </div>

    <div class="tasks-container" 
         cdkDropList
         [cdkDropListData]="tasks"
         [id]="columnId"
         [cdkDropListConnectedTo]="['todo', 'inprogress', 'awaitfeedback', 'done']"
         (cdkDropListDropped)="taskDropped.emit($event)">
        @if (tasks.length === 0) {
        <div class="empty-state">
            <p>No tasks {{ title }}</p>
        </div>
        } @else {
        @for (task of tasks; track task.id) {
        <div cdkDrag>
            <app-task-card [task]="task" (cardClicked)="onTaskClick($event)"></app-task-card>
        </div>
        }
        }
    </div>
</div>