.board-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 250px;
  max-width: 300px;
  background-color: #f6f7f8;
  border-radius: 8px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 18px;
    font-weight: 700;
    color: #2a3647;
    margin: 0;
  }

  .add-task-btn {
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.2s;

    .add-task-icon {
      width: 24px;
      height: 24px;
      display: block;
      transition: opacity 0.2s;
    }

    &:hover .add-task-icon {
      opacity: 0.8;
    }
  }
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 200px;

  &.cdk-drop-list-dragging {
    .cdk-drag {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  border-radius: 30px;
  
  app-task-card {
    .task-card {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0.4;
  border: 2px dashed #29ABE2;
  background: transparent;
  
  * {
    opacity: 0;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 48px;
  background: #e7e7e7;
  border: 1px dashed #a8a8a8;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 10px;

  p {
    color: #a8a8a8;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}