.board-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  max-width: 1688px;
  padding: 0 64px;
  margin-bottom: 32px;

  h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0;
  }

  .board-header-actions {
    display: flex;
    align-items: flex-end;
    gap: 35px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .board-header {
    padding: 0 24px;
    gap: 24px;
    margin-bottom: 24px;

    h2 {
      font-size: 36px;
    }

    .board-header-actions {
      width: 100%;
      
      app-board-search {
        width: 100%;
      }

      app-board-add-button {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .board-header {
    padding: 0 16px;
    gap: 16px;

    h2 {
      font-size: 28px;
    }
  }
}