@if (!isLoggedIn) {
<nav class="navbar">
    <div class="navbar-header">
        <img src="assets/header-join-icon-vector.png" alt="Join Logo" class="logo" />
    </div>

    <ul class="nav-links">
        <li>
            <a routerLink="/login" routerLinkActive="active" class="nav-link">
                <img src="assets/login.png" alt="Summary" class="nav-icon2" />
                <span>Log In</span>
            </a>
        </li>
        <li class="nav-spacer"></li>
        <li class="nav-footer-item">
            <a routerLink="/privacy-policy" routerLinkActive="active" class="nav-link footer-link-mobile">
                <span>Privacy Policy</span>
            </a>
        </li>
        <li class="nav-footer-item">
            <a routerLink="/legal-notice" routerLinkActive="active" class="nav-link footer-link-mobile">
                <span>Legal Notice</span>
            </a>
        </li>
    </ul>

    <div class="navbar-footer">
        <a routerLink="/privacy-policy" class="footer-link">Privacy Policy</a>
        <a routerLink="/legal-notice" class="footer-link">Legal notice</a>
    </div>
</nav>
}

@if (isLoggedIn) {
<nav class="navbar">
    <div class="navbar-header">
        <img src="assets/header-join-icon-vector.png" alt="Join Logo" class="logo" />
    </div>

    <ul class="nav-links">
        <li>
            <a routerLink="/summary" routerLinkActive="active" class="nav-link">
                <img src="assets/header-icons/summary-icon.png" alt="Summary" class="nav-icon" />
                <span>Summary</span>
            </a>
        </li>
        <li>
            <a routerLink="/add-task" routerLinkActive="active" class="nav-link">
                <img src="assets/header-icons/add-tasks-icon.png" alt="Add Task" class="nav-icon" />
                <span>Add Task</span>
            </a>
        </li>
        <li>
            <a routerLink="/board" routerLinkActive="active" class="nav-link">
                <img src="assets/header-icons/board-icon.png" alt="Board" class="nav-icon" />
                <span>Board</span>
            </a>
        </li>
        <li>
            <a routerLink="/contacts" routerLinkActive="active" class="nav-link">
                <img src="assets/header-icons/contacts-icon.png" alt="Contacts" class="nav-icon" />
                <span>Contacts</span>
            </a>
        </li>
    </ul>

    <div class="navbar-footer">
        <a routerLink="/privacy-policy" class="footer-link">Privacy Policy</a>
        <a routerLink="/legal-notice" class="footer-link">Legal notice</a>
    </div>
</nav>
}