.board-container {
  padding: 24px;
  height: 100%;
  max-width: 1688px;
  overflow-x: auto;
}

.board-columns-wrapper {
  display: flex;
  gap: 24px;
  min-height: 500px;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1688px;
  padding: 0 64px;
}
